<!--
/**
 * 162015班 第13组
 * 智能售货机后台管理系统——查看售货机
 * @Author: 16201510 高中巍
 * @Date: 2019/6/15 11:10
 * @Version 1.0
 */
-->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head::head(智能售货机后台管理系统)"><title></title></head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <ul th:replace="back/business/index::businessSidebar"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <nav th:replace="back/business/index::businessTopBar"></nav>

        <div class="container-fluid">
          <h1 class="h3 mb-2 text-gray-800">售货机管理</h1>
          <p class="mb-4">售货机的位置和状态.</p>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">售货机</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>安装位置</th>
                    <th>售货机状态</th>
                    <th>价格</th>
                  </tr>
                  </thead>
                  <tfoot>
                  <tr>
                    <th>#</th>
                    <th>安装位置</th>
                    <th>售货机状态</th>
                    <th>价格</th>
                  </tr>
                  </tfoot>
                  <tbody>
                  <tr th:each="buyMachine,stat:${buyMachineList}">
                    <td th:text="${stat.index+1}"></td>
                    <td th:text="${buyMachine.getLocation()}">学生公寓20栋</td>
                    <td th:text="${buyMachine.getState()}">经营</td>
                    <td th:text="${'￥'+buyMachine.getVendingMachine().getPrice()}+'元'">61</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div th:replace="fragment/footer::footer"></div>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div th:replace="fragment/logoutModal::logout"></div>
  <div th:replace="fragment/commonJS::commonJS"></div>
  <script type="text/javascript">
    function updateState(id,state) {
      $.ajax({
        type : 'POST',
        url : '/back/operation/updateMachine',
        data :{
          id:id,
          state:state
        },
        success : function(result) {
          if (100===result.code){
            toast('修改成功','success');
            setInterval(function () {
              top.location=result.extend.data;
            },1000);
          }else {
            toast(result.extend.data,'danger');
          }
        }
      })
    }
    function toast(message,type) {
      bootoast({
        message: message,
        type: type,
        position: 'top-center',
        icon: type,
        timeout: 2,
        animationDuration: 300,
        dismissible: true
      });
    }
  </script>
</body>
</html>
