<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head::head(首页)"><title></title></head>
<body>

<!-- Page Wrapper -->
<div id="page-top" class="container">

    <h3>请选择要购买的商品</h3>

    <div class="row">
        <div th:each="saleProduct:${saleProductList}" class="col-md-4 col-sm-4 mt-3" >
            <div class="panel panel-info">
                <div class="panel-heading" th:text="${saleProduct.getProduct().getName()}" style="height: 27px;overflow-y: hidden">
                    Info Panel
                </div>
                <div class="panel-body text-center">
                    <img  th:src="${'/image/'+saleProduct.getProduct().getImgPath()}" class="img-responsive" style="height: 300px">
                    <p style="color:red;" th:text="'￥'+${saleProduct.getProduct().getPrice()}+'元'"></p>
                </div>
                <div class="panel-footer">
                    <a th:href="'/buyProduct/'+${saleProduct.getId()}" type="button"  class="btn btn-danger btn-mini col-md-12 py-1 m-1" >购买</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragment/footer::footer"></div>

</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="fragment/commonJS::commonJS"></div>
<script type="text/javascript">
    function updateState(id,state) {
        $.ajax({
            type : 'POST',
            url : '/back/operation/updateMachine',
            data :{
                id:id,
                state:state
            },
            success : function(result) {
                if (100===result.code){
                    toast('修改成功','success');
                    setInterval(function () {
                        top.location=result.extend.data;
                    },1000);
                }else {
                    toast(result.extend.data,'danger');
                }
            }
        })
    }
    function toast(message,type) {
        bootoast({
            message: message,
            type: type,
            position: 'top-center',
            icon: type,
            timeout: 2,
            animationDuration: 300,
            dismissible: true
        });
    }
</script>
</body>
</html>
