<!--
/**
 * 162015班 第13组
 * 智能售货机后台管理系统——顾客选择售货机
 * @Author: 16201533 朱天保
 * @Date: 2019/6/25 22:57
 * @Version 1.0
 */
-->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head::head(首页)"><title></title></head>
<body>

<!-- Page Wrapper -->
<div id="page-top" class="container">

    <h3>请选择离你最近的售货机</h3>

    <div class="row">
        <div th:each="buyMachine:${buyMachineList}" class="col-md-4 col-sm-4 mt-3" >
            <div class="panel panel-info">
                <div class="panel-heading" th:text="${buyMachine.getLocation()}">
                    Info Panel
                </div>
                <div class="panel-body text-center">
                    <img  th:src="${'/image/'+buyMachine.getVendingMachine().getImgPath()}" class="img-responsive" style="height: 300px">
                </div>
                <div class="panel-footer">
                    <a th:href="'/getSaleProduct/'+${buyMachine.getId()}" type="button"  class="btn btn-info btn-mini col-md-12 py-1 m-1" >进入</a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragment/footer::footer"></div>

</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="fragment/commonJS::commonJS"></div>
<script type="text/javascript">
    function updateState(id,state) {
        $.ajax({
            type : 'POST',
            url : '/back/operation/updateMachine',
            data :{
                id:id,
                state:state
            },
            success : function(result) {
                if (100===result.code){
                    toast('修改成功','success');
                    setInterval(function () {
                        top.location=result.extend.data;
                    },1000);
                }else {
                    toast(result.extend.data,'danger');
                }
            }
        })
    }
    function toast(message,type) {
        bootoast({
            message: message,
            type: type,
            position: 'top-center',
            icon: type,
            timeout: 2,
            animationDuration: 300,
            dismissible: true
        });
    }
</script>
</body>
</html>
